# Ignore node_modules in both frontend and backend
node_modules/

# Ignore environment files
.env
backend/.env
client/.env

# Ignore build and log files
*.log
.DS_Store
dist/
build/

# Ignore environment-specific configs
.env.local
.env.development.local
.env.test.local
.env.production.local
